@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap");

/* #1C2331 (dark blue) for the background
#2C3E50 (slate blue) for headings and accent elements
#34495E (slate gray) for text and subheadings
#9B59B6 (purple) for links and buttons */
.color {
  color: #1c2331;
  color: #2c3e50;
  color: #34495e;
  color: #9b59b6;
  color: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: #1c2331;
  color: #94a3b8;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #34495e;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}
.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  background-color: #38bdf8;
  color: #1c2331;
  padding: 1.6rem 3rem;
  border-radius: 30px;
}
.btn:hover {
  color: #1c2331;
  background-color: #38bdf8;
}

/* Navigation */
header {
  border-bottom: 1px solid rgba(235, 202, 245, 0.068);
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #1c2331;
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.navbar-brand {
  color: #94a3b8;
  font-size: 2.5rem;
  font-weight: 600;
}
a.navbar-brand:hover {
  color: #94a3b8;
}
.navbar-nav li {
  margin-left: 2.5rem;
}
.navbar-nav li a {
  color: #94a3b8;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
@media (max-width: 767.98px) {
  .main-menu {
    display: none;
  }
}
@media (min-width: 769px) {
  .menu-ham  {
    display: none;
    color: #94a3b8;
    font-size: 2.5rem;
  }
}
/* mobile menu */

.sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.sm-menu--active {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 767.98px) {
  .sm-menu--active {
    visibility: visible;
    opacity: 1;
  }
  .menu-ham i {
    display: block;
    color: #94a3b8;
    font-size: 2.5rem;
  }
}
.sm-menu-link a {
  display: block;
  padding: 2.5rem 3rem;
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s;
}
.sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}
.sm-menu-link-last {
  border-bottom: 0;
}
@media (max-width: 767.98px) {
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

/* hero section */
.hero, .about-hero {
  height: 100vh;
  background: #1c2331;
}
.hero h2 {
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.5rem;
}
.hero p {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.social {
  margin-top: 2.5rem;
}

.social li a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* footer   */
footer{
  border-top: 1px solid rgba(235, 202, 245, 0.068);
  padding: 6rem 0 3.5rem 0;
}
footer h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.1rem;
}
footer ul.social {
  padding-left: 0;
  margin-top: 0;
}
.footer-left p {
  font-size: 1.5rem;
}
.copyright{
  border-top: 1px solid rgba(235, 202, 245, 0.068);
  padding-top: 3.5rem;
  margin-top: 3rem;
}
.copyright p {
  text-align: center;
  font-size: 1.3rem;
}

/* about */
.about-hero {
  height: 60vh;
}
.about-hero h2 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.5rem;
}
.about-hero p {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.me-left h3{
 font-size: 3rem;
 font-weight: 600;
 margin-bottom: 2rem;
 
}
.me-left p{
  font-size: 1.5rem;
  text-align: justify;
}
.me-right img{
  width: 100%;
}
.about-me{
  padding-bottom: 7rem;
}


/* contact  */
.contact-from {
  background: #1c2331;
  padding: 20rem 0 7rem;
}

.contact-from form{
  border:2px solid rgba(235, 202, 245, 0.068);
  padding: 5rem;
  border-radius: 5px;
}
.contact-from form input {
  padding: 1rem 0 1rem 1.5rem;
  margin-bottom: 1.5rem;
}
.contact-from form textarea{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.contact-from input::placeholder {
  font-size: 1.5rem;
  font-weight: 500;
}
form label{
  font-size: 2rem;
  font-weight: 500;
}
.info{
  padding-left: 6rem;
}
.info-item{
  margin-bottom: 2rem;
}
.info-item i {
  font-size: 3.5rem;
  margin-right: 1.5rem;
}
.info-item h3{
  font-size: 2rem;
}

.info-item p{
  font-size: 1.5rem;
  margin-bottom: 0;
}