@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-sm font-fira text-white rounded-md cursor-pointer bg-white font-medium mx-2.5 flex py-2.5 md:px-4 xl:px-5 items-center bg-[#1E293B] transition-all duration-1000 ease-in-out hover:text-white hover:bg-gradient-to-r from-primary to-secondary;
  }
  .active {
    @apply bg-gradient-to-r from-primary to-secondary;
  }
  .socialbtn {
    @apply text-[20px] w-10 h-10 rounded-md cursor-pointer bg-[#212425] flex items-center justify-center transition-all duration-1000 ease-in-out hover:text-white hover:bg-gradient-to-r from-primary to-secondary;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f5f4f0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100vh;
    border: 3px solid #f9f9f1;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
}
